{% extends "adminLayout.html" %}
{%block content%}
<h2 class="page_title">Results</h2>

<div class="container reserved_table">
    <div class="table_name">Table:</div>
    <br />
    <div class="">
        <table class="table" style="background-color: rgba(0, 0, 0, 0.671); border-radius: 10px;">
            {% if rows |length > 0 %}
            <thead>
                <tr>
                    {# generate th tags for each column to display #}
                    {# IMPORTANT use table column names as the headings, replace with space #}
                    {% for r in rows[0] %}
                    <th>{{r}}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for r in rows[1:] %}
            <tbody>
            <tr>
                {% for i in r %}
                <td>{{i}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td colspan="100%">No results to show</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
    </div>
</div>
<br>
<br>
{% endblock %}