{% extends "layout.html" %}
{%block content%}
<h2 class="page_title">Resources</h2>

<div class="container">
    <div class="row">
        <div class="col-md-2 table-search">
            Search:
        </div>
        <div class="col-md-10">
            <input type="text" class="search-input" placeholder="Enter keyword to filter by" />
        </div>
    </div>
    <br />
    <div class="">
        <table class="table">
            {% if rows and rows|length > 0 %}
            <thead>
                <tr>
                    {# generate th tags for each column to display #}
                    {# IMPORTANT use table column names as the headings, replace with space #}
                    {% for r in rows[0] %}
                    <th>{{r}}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            {% endif %}
            {% for r in rows[1:] %}
            <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
                <td>{{r[2]}}</td>
                <td>{{r[3]}}</td>
                <td><a href="/get_doc" class="btn btn-secondary btn-sm">View</a>
                    <button type="button" class="btn btn-primary">Reserve</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}