{% extends "secure_layout.html" %}
{%block content%}
<div style="text-align: center;">
    <form method="GET" action="{{url_for('reader.validate', rid=rid)}}">
        <div class="form-group">
            <label class="visually-hidden form_prompt" for="fn">Enter your card number:</label>
            <br>
            <input type="text" name="rid" class="rid-input" id="fn" placeholder="Card Number">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
{% endblock %}