{% extends "layout.html" %}
{%block content%}
<header class="page-header container-fluid">
    <div class="description">
        <h1>About us:</h1>
        <p class="about_us">The 1 Public Library was conceived with education at its heart, placed in the Rotunda at
            the head of the Academical Village. The Library’s first collection was selected by Thomas Jefferson and
            arranged
            according to a classification scheme he adapted from Francis Bacon’s The Advancement of Learning.
            Today, the Library’s original purpose remains unchanged: to provide access to accumulated knowledge,
            and in so doing, increase it—in short, to advance learning. In pursuit of that goal, we collect,
            preserve, organize, and share materials of all kinds.
            The Library's staff, services, and resources are here to ensure that the University community has the
            information it needs for teaching, research, and personal enjoyment and enrichment. We invite you to
            learn more about the organization that makes up the UVA Library today, and the services we provide.</p>
        <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
    </div>
</header>
{% endblock %}