<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-expand-md">
        <a class="title_library" href="#">1 Public Library</a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav_item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav_item">
                    <a class="nav-link" href="#">Explore</a>
                </li>
                <li class="nav_item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <li class="nav_item">
                    <a class="nav-link" href="#">My Transactions</a>
                </li>
            </ul>
        </div>
    </nav>

    <form class="header">
        <center>
            <div class="form-group">
                <label class="form_prompt" for="exampleReaderID">Enter your card number:</label>
                <input type="rid" class="form-control" id="exampleReaderID" aria-describedby="ridHelp"
                    placeholder="Card Number">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>

    <header class="page-header container-fluid">
        <!-- <div class="overlay"></div> -->
        <div class="description">
            <h1>About us:</h1>
            <p class="about_us">The 1 Public Library was conceived with education at its heart, placed in the Rotunda at
                the head of
                the Academical Village. The Library’s first collection was selected by Thomas Jefferson and arranged
                according to a classification scheme he adapted from Francis Bacon’s The Advancement of Learning.
                Today, the Library’s original purpose remains unchanged: to provide access to accumulated knowledge,
                and in so doing, increase it—in short, to advance learning. In pursuit of that goal, we collect,
                preserve,
                organize, and share materials of all kinds.
                The Library's staff, services, and resources are here to ensure that the University community has the
                information it needs for teaching, research, and personal enjoyment and enrichment. We invite you to
                learn more about the organization that makes up the UVA Library today, and the services we provide.</p>
            <button class="btn btn-outline-secondary btn-lg">Tell Me More!</button>
        </div>
    </header>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
    <script src="main.js"></script>
</body>

</html>