{% extends "layout.html" %}
{%block content%}
<h2 class="page_title">My Transactions</h2>

<div class="container reserved_table">
    <div class="table_name">Reserved:</div>
    <br />
    <div class="">
        <table class="table" style="background-color: rgba(0, 0, 0, 0.671); border-radius: 10px;">
            {% if rows |length > 0 %}
            <thead>
                <tr>
                    {# generate th tags for each column to display #}
                    {# IMPORTANT use table column names as the headings, replace with space #}
                    {% for r in rows[0] %}
                    {% if r != 'Returned On' %}
                    <th>{{r}}</th>
                    {% endif %}
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            {% endif %}
            {% for r in rows[1:] %}
            {% if r[5] == 'RESERVED' %}
            <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
                <td>{{r[2]}}</td>
                <td>{{r[3].strftime('%Y-%m-%d')}}</td>
                <td>{{r[5]}}</td>
                <td style="display:flex;">
                    <a href="{{url_for('reader.document', id=r[0], available=r[6], rid=request.args.get('rid'))}}"
                        class="btn btn-primary" style="margin-right: 10px;">View</a>
                    <a href="{{url_for('reader.borrow_document', id=r[0], available=r[6], rid=request.args.get('rid'))}}"
                        class="btn btn-primary">Borrow</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

<div class="container borrowed_table">
    <div class="table_name">Borrowed:</div>
    <br />
    <div class="">
        <table class="table" style="background-color: rgba(0, 0, 0, 0.671); border-radius: 10px;">
            {% if rows |length > 0 %}
            <thead>
                <tr>
                    {# generate th tags for each column to display #}
                    {# IMPORTANT use table column names as the headings, replace with space #}
                    {% for r in rows[0] %}
                    {% if r != 'Returned On' %}
                    <th>{{r}}</th>
                    {% endif %}
                    {% endfor %}
                    <th style="text-align: center;">Actions</th>
                </tr>
            </thead>
            {% endif %}
            {% for r in rows[1:] %}
            {% if r[5] == 'BORROWED' %}
            <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
                <td>{{r[2]}}</td>
                <td>{{r[3].strftime('%Y-%m-%d')}}</td>
                <td>{{r[5]}}</td>
                <td style="display:flex;">
                    <a href="{{url_for('reader.document', id=r[0], available=r[6], fines ='True', rid=request.args.get('rid'))}}"
                        class="btn btn-primary" style="margin-right: 10px;">View</a>
                    <a href="{{url_for('reader.return_document', id=r[0], available=r[6], rid=request.args.get('rid'))}}"
                        class="btn btn-primary">Return</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

<div class="container reserved_table">
    <div class="table_name">Returned:</div>
    <br />
    <div class="">
        <table class="table" style="background-color: rgba(0, 0, 0, 0.671); border-radius: 10px;">
            {% if rows |length > 0 %}
            <thead>
                <tr>
                    {# generate th tags for each column to display #}
                    {# IMPORTANT use table column names as the headings, replace with space #}
                    {% for r in rows[0] %}
                    <th>{{r}}</th>
                    {% endfor %}
                    <th>Actions</th>
                </tr>
            </thead>
            {% endif %}
            {% for r in rows[1:] %}
            {% if r[5] == 'RETURNED' %}
            <tr>
                <td>{{r[0]}}</td>
                <td>{{r[1]}}</td>
                <td>{{r[2]}}</td>
                <td>{{r[3].strftime('%Y-%m-%d')}}</td>
                <td>{{r[4].strftime('%Y-%m-%d')}}</td>
                <td>{{r[5]}}</td>
                <td><a href="{{url_for('reader.document', id=r[0], available=r[6], rid=request.args.get('rid'))}}"
                        class="btn btn-primary">View</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
<br>
<br>
{% endblock %}