{% extends "layout.html" %}
{%block content%}
<div class="container">
    {% if doc_type== "book" %}
    <div class="card card-customised p-3 mb-2 bg-dark text-white" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{{ rows[1][1] }}</h5>
            <br>
            <h6 class="card-subtitle mb-2">Document Type: Book</h6>
            <span class="label label-default">ISBN: {{ rows[1][6] }}</span>
            <br>
            <span class="label label-default">Author: {{ rows[1][7] }}</span>
            <br>
            <span class="label label-default">Published on: {{ rows[1][2].strftime('%Y-%m-%d') }}</span>
            <br>
            <span class="label label-default">Publisher: {{ rows[1][4] }}</span>
            <br>
            <span class="label label-default">Address: {{ rows[1][5] }}</span>
            <br>
            <br>
            {% if request.args.get('fines') %}
            <span class="label label-default">Fine: ${{ rows[1][8] }}</span>
            <br>
            <br>
            {% endif %}
            {% if request.args.get('res_button') == 'True' %}
            <form action="{{url_for('reader.document', id=rows[1][0], **request.args)}}"
                method="POST">
                <button type="submit" class="btn btn-primary">Reserve</button>
            </form>
            {% endif %}
        </div>
    </div>

    {% elif doc_type == "journal_volume" %}
    <div class="card card-customised p-3 mb-2 bg-dark text-white" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{{ rows[1][1] }}</h5>
            <br>
            <h6 class="card-subtitle mb-2">Document Type: Journal Volume</h6>
            <span class="label label-default">Published on: {{ rows[1][2].strftime('%Y-%m-%d') }}</span>
            <br>
            <span class="label label-default">Publisher: {{ rows[1][4] }}</span>
            <br>
            <span class="label label-default">Address: {{ rows[1][5] }}</span>
            <br>
            <span class="label label-default">Volume: {{ rows[1][6] }}</span>
            <br>
            <span class="label label-default">Main Editor: {{ rows[1][10] }}</span>
            <br>
            <br>
            {%- for row in rows[1:] %}
            <span class="label label-default">Issue: {{ row[7] }} Guest Editor: {{ row[9] }}</span>
            <br>
            {% endfor %}
            <br>
            <span class="label label-default">Scope: {{ rows[1][8] }}</span>
            <br>
            <br>
            {% if request.args.get('fines') %}
            <span class="label label-default">Fine: ${{ rows[1][8] }}</span>
            <br>
            <br>
            {% endif %}
            {% if available == 'True' %}
            <form action="{{url_for('reader.document', id=rows[1][0], **request.args)}}"
                method="POST">
                <button type="submit" class="btn btn-primary">Reserve</button>
            </form>
            {% endif %}
        </div>
    </div>

    {% else %}
    <div class="card card-customised p-3 mb-2 bg-dark text-white" style="width: 30rem;">
        <div class="card-body">
            <h5 class="card-title">{{ rows[1][1] }}</h5>
            <br>
            <h6 class="card-subtitle mb-2">Document Type: Conference Proceeding</h6>
            <span class="label label-default">Published on: {{ rows[1][2].strftime('%Y-%m-%d') }}</span>
            <br>
            <span class="label label-default">Publisher: {{ rows[1][4] }}</span>
            <br>
            <span class="label label-default">Address: {{ rows[1][5] }}</span>
            <br>
            <span class="label label-default">Date of conference: {{ rows[1][6].strftime('%Y-%m-%d') }}</span>
            <br>
            <span class="label label-default">Location of conference: {{ rows[1][7] }}</span>
            <br>
            <span class="label label-default">Editor: {{ rows[1][8] }}</span>
            <br>
            <span class="label label-default">Chairs:</span>
            <br>
            {%- for row in rows[1:] %}
            <span class="label label-default">{{row[9]}}</span>
            <br>
            {% endfor %}
            <br>
            <br>
            {% if request.args.get('fines') %}
            <span class="label label-default">Fine: ${{ rows[1][8] }}</span>
            <br>
            <br>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}